﻿@model Tots.Models.ViewModels.TicketViewModel

<tr>
    <td>
        @Html.ActionLink(@Model.TicketId.ToString(), "Details", new { id = @Model.TicketId })
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.DateCreated)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.User.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Shop.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Description)
    </td>
    <td>
        @Tots.Controllers.TicketsController.StatusAsAString((int)@Model.Status)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = @Model.TicketId }) |
        @Html.ActionLink("Details", "Details", new { id = @Model.TicketId }) |
        @Html.ActionLink("Delete", "Delete", new { id = @Model.TicketId })
    </td>
</tr>