﻿@model Tots.Models.IErrorableModel

@if (@Model.Errors.Count > 0)
{
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">

                @foreach(string error in @Model.Errors)
                {
                    <p>
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        @error
                    </p>
                }
            </div>
        </div>
    </div>
    
}