﻿@model Tots.Models.ViewModels.TicketIndexViewModel

@{
    ViewBag.Title = "Tickets";
}

@if(Model.ShowAllParam == "true")
{
    <h1>All Tickets</h1>
}
else
{
    <h1>Open Tickets</h1>
}

<div class="page_toolbar text-right">
    @if (Model.ShowAllParam == "true")
    {
        @Html.ActionLink("Show Open Only", "Index", null, new { @class = "btn btn-success" })
    }
    else
    {
        @Html.ActionLink("Show All", "Index", new { showAll = true }, new { @class = "btn btn-success" })
    }
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</div>

@* Error placeholder: *@
@Html.Partial("_Error", @Model)

<div class="row no-gutters">
    <div class="col-md-12">
        <p class="result-count">
            Displaying <strong>@Model.Tickets.Count</strong> results...
        </p>
    </div>
</div>

@* HIDDEN:
    
<div id="filter-box" class="filter-box">
    @using(Html.BeginForm("Index", "Tickets", FormMethod.Get))
    {
        if (!String.IsNullOrEmpty(Model.ShowAllParam))
        {
            @Html.Hidden("showAll", (string)Model.ShowAllParam)
        }
        
        if(!String.IsNullOrEmpty(@Model.SortOrder))
        {
            @Html.Hidden("sortOrder", (string)Model.SortOrder)
        }
                                                              
        <label for="shopFilter" class="col-md-2 control-label">
            Shop:
        </label>
        <div class="col-md-4">
            @Html.DropDownList("ShopFilter",
                               new SelectList(@Model.ShopListing, "ShopId", "Name", @Model.ShopFilterParam),
                               new { @class = "form-control" })
        </div>
        
        <div class="row">
            <input type="submit" value="Filter" />
        </div>
    }
</div>

 /HIDDEN *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Ticket ID#", "Index", new { sortOrder = @Model.IdSortParam, showAll = @Model.ShowAllParam, ShopFilter = @Model.ShopFilterParam })
            </th>
            <th>
                Date
            </th>
            <th>
                Submitted By
            </th>
            <th>
                @Html.ActionLink("Shop Name", "Index", new { sortOrder = @Model.ShopNameSortParam, showAll = @Model.ShowAllParam, ShopFilter = @Model.ShopFilterParam })
            </th>
            <th>
                Description
            </th>
            <th>
                @Html.ActionLink("Status", "Index", new { sortOrder = @Model.StatusSortParam, showAll = @Model.ShowAllParam, ShopFilter = @Model.ShopFilterParam })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@Html.DisplayFor(x => x.Tickets)
    </tbody>
</table>
